<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComparisonFilter</key>
	<dict>
		<key>CIHasCustomInterface</key>
		<false/>
		<key>CIKernelFile</key>
		<string>ComparisonFilter</string>
		<key>CIFilterClass</key>
		<string>ComparisonFilter</string>
		<key>CIFilterAttributes</key>
		<dict>
			<key>CIInputs</key>
			<array>
				<dict>
					<key>CIAttributeClass</key>
					<string>NSNumber</string>
					<key>CIAttributeDisplayName</key>
					<string>alpha</string>
					<key>CIAttributeName</key>
					<string>alpha</string>
					<key>CIAttributeDefault</key>
					<real>0.7</real>
					<key>CIAttributeMin</key>
					<integer>1</integer>
					<key>CIAttributeIdentity</key>
					<integer>1</integer>
					<key>CIAttributeSliderMin</key>
					<integer>0</integer>
					<key>CIAttributeSliderMax</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CIAttributeName</key>
					<string>level</string>
					<key>CIAttributeSliderMax</key>
					<integer>1</integer>
					<key>CIAttributeSliderMin</key>
					<integer>0</integer>
					<key>CIAttributeMin</key>
					<integer>0</integer>
					<key>CIAttributeIdentity</key>
					<integer>1</integer>
					<key>CIAttributeDisplayName</key>
					<string>level</string>
					<key>CIAttributeDefault</key>
					<real>0.5</real>
					<key>CIAttributeClass</key>
					<string>NSNumber</string>
				</dict>
				<dict>
					<key>CIAttributeName</key>
					<string>inputImage</string>
					<key>CIAttributeDisplayName</key>
					<string>inputImage</string>
					<key>CIAttributeClass</key>
					<string>CIImage</string>
				</dict>
			</array>
			<key>CIAttributeFilterDisplayName</key>
			<string>ComparisonFilter</string>
			<key>CIAttributeFilterCategories</key>
			<array/>
			<key>CICategoryStillImage</key>
			<string></string>
			<key>CICategoryVideo</key>
			<string></string>
			<key>CICategoryStylize</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
